{% extends "private/base.html" %}

{% block content %}

  <h2>Books waiting for review</h2>

  <a href="/b/toreview/new">Add book</a>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Series</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for book in books %}
        <tr>
          <td>{{ book.title }}</td>
          <td>{{ book.author_string }}</td>
          <td>{% if book.series %}{{ book.series.name }}{% endif %} {% if book.series_position %}#{{ book.series_position }}{% endif %}</td>
          <td>{{ book.date }}</td>
          <td>
            <a href="/b/toreview/{{ book.id }}/delete">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
