<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="alternate" type="application/atom+xml" title="Book review atom feed" href="/feed.atom">

    <link rel="stylesheet" href="{{static('/style.css')}}">
    <link rel="stylesheet" href="{{static('/fonts/stylesheet.css')}}">

    <script src="{{static('/search.js')}}" defer></script>

    {% block head_content %}{% endblock %}

    <title>{% if title %}{{ title | smartypants | safe }} {% endif %}📚 log(book)</title>
  </head>
  <body>
    <a rel="me" href="https://chaos.social/@rixx" id="mastodon-linkback"></a>

    {% include "_header.html" %}

    <main{% block main_class %}{% endblock %}>
      <div class="alert" style="padding: 10px 16px 8px 16px; margin: 8px; border: 1px solid #007171; background-color: #99000033; box-shadow: 0 1px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05), 0 1px 1px rgba(0,0,0,0.05); ">
        I'm currently <a href="/p/2022-backlog-incident/">behind on reviews</a>, so don't be surprised if the recent reviews are a bit sparse.
      </div>
      {% block content %}{% endblock %}
    </main>

    {% include "_footer.html" %}
  </body>
</html>
