<header>
  <div id="sidenav-left" class="sidenav">
    <a id="site-title" href="/">log(book)</a>
  </div>
  <nav id="nav-links">
    <a href="/reviews"{% if active == "read" %} class="active"{% endif %}>Log</a>
    <span class="sep"> · </span>
    <span class="sep"> · </span>
    <a href="/queue"{% if active == "queue" %} class="active"{% endif %}>Queue</a>
    <a href="/catalogue/"{% if active == "list" or active == "catalogue" %} class="active"{% endif %} id="catalogue-link">🔍 Catalogue</a>
    <span class="sep"> · </span>
    <a href="/graph" id="graph-nav"{% if active == "graph" %} class="active"{% endif %}>Graph</a>
    <a href="/stats"{% if active == "stats" %} class="active"{% endif %}>Stats</a>
  </nav>
  <nav id="catalogue-form" class="hidden">
    <form action="/catalogue/" method="get">
      <input type="text" name="search_input" placeholder="Search catalogue">
    </form>
  </nav>

  <div id="sidenav-right" class="sidenav">
    {% if not request.user.is_anonymous %}<a href="/b">editor</a> <span>·</span> <a href="/b/new"> + new</a> <span>·</span> <a href="/b/logout">logout</a>{% endif %}
  </div>
</header>
